<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.offsidegame.offside">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <application
        android:name=".models.OffsideApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:targetApi="m">

        <!--
        added to avoid outOfMemory error due to usage in bitmap
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        https://stackoverflow.com/questions/32244851/androidjava-lang-outofmemoryerror-failed-to-allocate-a-23970828-byte-allocatio
        -->
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider523024471208542"
            android:exported="true" />

        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@mipmap/offside_logo_nobg" /> -->
        <!-- &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming -->
        <!-- notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> -->


        <!-- <activity -->
        <!-- android:name=".activities.SlotActivity" -->
        <!-- android:label="Sidekick" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="Sidekick"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Accept chrome links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sidekickgame.com"
                    android:scheme="app" />

                <!-- <data android:host="sidekickgame.com" android:scheme="http"/> -->
                <!-- <data android:host="sidekickgame.com" android:scheme="https"/> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LobbyActivity"
            android:label="Lobby"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.CreatePrivateGroupActivity"
            android:label="Crate Group"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.NewsDetailsActivity" />

        <service
            android:name=".helpers.SignalRService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <activity -->
        <!-- android:name="com.ironsource.sdk.controller.ControllerActivity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" /> -->
        <!-- <activity -->
        <!-- android:name="com.ironsource.sdk.controller.InterstitialActivity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:theme="@android:style/Theme.Translucent" /> -->
        <!-- <activity -->
        <!-- android:name="com.ironsource.sdk.controller.OpenUrlActivity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:theme="@android:style/Theme.Translucent" /> -->

    </application>

</manifest>